
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9fafb;
  color: #1f2937;
  padding: 20px;
}

.container {
  vertical-align: center;
  horiz-align: center;
  margin: 50px;
  align-items: normal;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  border: 3px solid #9c39ff;
  border-radius: 15px;
  padding: 10px;
  background-color: #e1c0ff;
  height: 500px;
  position: fixed;
  top: 20%;
}

.excuseBlock{
  float: right;
  margin-left: 700px;
  width: 1000px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ab85e3;
  border-radius: 10px;
  border: 3px solid #9c39ff;
}
input{
  margin-left: 5px;
  margin-top: 20px;
  background: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  color: black;
}

select{
  margin-top: 20px;
  padding-right: 10px;
  background: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  color: black;
  margin-left: 10px;
}

textarea{
  margin-top: 10px;
  margin-left: 10px;
  height: 15px;
  color: black;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: white;
}


button{
  margin-top: 10px;
  background: rgba(143, 59, 204, 0.81);
  border: 1px solid lightgray;
  border-radius: 5px;
  color: black;
}